<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1" width="50%">
    <thead>
    <tr>
        <h1 th colspan="2">Users</th></h1>
    </tr>
    </thead>
    <thead>
    <tr>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">age</th>
        <th scope="col">email</th>

    </tr>
    </thead>
    <tbody>

    <tr align="center" th:each="user : ${userList}">
        <td width="200"><p th:text="${user.getFirstName()}"></p></td>
        <td width="200"><p th:text="${user.getLastName()}"></p></td>
        <td width="200"><p th:text="${user.getAge()}"></p></td>
        <td width="200"><p th:text="${user.getEmail()}"></p></td>
        <td><form th:method="GET" th:action="@{${user.getId()}+'/edit'}" th:object="${user}">
            <input type="submit" value="Edit User"/>
        </form></td>
        <td><form th:method="DELETE" th:action="@{${user.getId()}}" th:object="${user}">
            <input type="submit" value="Delete User"/>
        </form></td>
    </tr>
    </tbody>
</table>

<br>
<input type="button" value="Add User"
       onclick="window.location.href = 'new'">

</body>
</html>